<% content_for :ext_head, stylesheet_link_tag("users") %>
<div id="content">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td width="25%">

            </td>
            <td width="50%">
                <% form_for @user, :url => users_url do |f| %>
                    <h3>Для регистрации заполните следующие поля:</h3>
                    <div class="user-form-input">
                        <%= f.error_messages %>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="login-table">
                        <tr>
                            <td>
                                <label>Мыло</label>
                            </td>
                            <td>
                                <%= f.text_field :email %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Логин</label>
                            </td>
                            <td>
                                <%= f.text_field :login %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Пароль</label>
                            </td>
                            <td>
                                <%= f.password_field :password %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Подтвеждение пароля</label>
                            </td>
                            <td>
                                <%= f.password_field :password_confirmation %>
                            </td>
                        </tr>

                    </table>







                    <%= submit_tag "Зарегистрироваться" %>
                <% end %>
            </td>
            <td width="25%">

            </td>
        </tr>
    </table>
</div>