<% content_for :ext_head, stylesheet_link_tag("comments") %>
<% content_for :title, @object.title %>
<div class="post-show ">
    <%= flash_messages %>

    <div class="post-attribute post-title">
        <%= @object.title %>
    </div>
    <div class="post-attribute">
        <%="Автор: #{@object.author.login }" %>
    </div>

    <div class="post-attribute">
        <%= @object.body %>
    </div>

    <div class="post-attribute">
        <% tag_list =  @object.tag_list %>
        <%= "Теги: "unless tag_list.blank? %>
        <% tag_list.each do |tag| %>
            <%= link_to tag, { :action => :tag, :id => tag } %>
        <% end %>
    </div>

    <div class="post-attribute">

        <%= render :partial=>"assets/assets_list", :locals=>{:assets=>@object.assets} %>
    </div>

    <div class="post-attribute">
        <%= link_to "Редактировать", edit_post_url(@object) %>
    </div>
    <div class="post-attribute">
        <%= link_to "Удалить", post_url(@object), :method => :delete, :confirm => "Вы действительно хотите удалить пост?" %>
    </div>

    <div class="add-comment">
        <% form_for :comment, :url=>post_comments_url(:post_id=> @object.id) do |f| %>
            <!--<div class="post-attribute">-->
                <!--<%#= f.text_field :title %>-->
            <!--</div>-->
            <div class="comment-body">
                <%= f.text_area :body %>
                <div class="submit">
                <%= submit_tag "Комментировать" %>
                    </div>
            </div>

        <% end %>
    </div>

    <div class="comment-list">
        <% comments = @object.comments%>
        <%unless  comments.blank?%>
            <p>Комментарии:</p> 
        <% comments.each do |comment| %>
            <%= render :partial=> "comments/comment", :locals=>{:comment=>comment} %>
        <% end %>
        <% end %>
    </div>

</div>

