<div class="post-show ">
    <%= flash_messages %>

    <div class="post-attribute post-title">
        <%= @object.title %>
    </div>

    <div class="post-attribute">
        <%= @object.body %>
    </div>

    <div class="post-attribute">
        <% tag_list =  @object.tag_list %>
        <%= "Теги: "unless tag_list.blank? %>
        <% tag_list.each do |tag| %>
            <%= link_to tag, { :action => :tag, :id => tag } %>
        <% end %>
    </div>

    <div class="post-attribute">

        <%= render :partial=>"assets/assets_list",:locals=>{:assets=>@object.assets}%>
    </div>

    <div class="post-attribute">
        <%= link_to "Редактировать", edit_post_url(@object) %>
    </div>
    <div class="post-attribute">
        <%= link_to "Удалить", post_url(@object), :method => :delete, :confirm => "Вы действительно хотите удалить пост?" %>
    </div>


</div>

